* {
	box-sizing: border-box;
    /* From: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

html {
	background: url('./img/got.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
    position: relative;
    font-family: 'Marcellus SC', serif;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #FFCC33;
}

.subtitle {
    position: relative;
    font-family: 'Marcellus SC', serif;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #FFCC33;
}

.subsubtitle {
    position: relative;
    font-family: 'Marcellus SC', serif;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #FFCC33;
}

.containerTalents {
    position: relative;
    display: flex;
    width: 1190px;
    margin: 0 auto;
}

.panel {
    position: relative;
    border-width: 2px;
    border-style: solid;
    width: 376px;
    max-width: 376px;
    min-width: 376px;
    padding-bottom: 30px;
}

.dataT {
    position: relative;
    border: 0px solid white;
    width: 1190px;
    margin: 0 auto;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 20px;
    text-align: left;
    padding-left: 250px;
}

.dataM {
    position: relative;
    border: 0px solid white;
    width: 1200px;
    margin: 0 auto;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

.tier {
    display: flex;
    position: relative;
}

.tier-edges-center-top {
    display: flex;
    position: relative;
    height: 50px;
}

.tier-edges-sides {
    display: flex;
    position: relative;
    height: 35px;
}

.tier-edges-center-bottom {
    display: flex;
    position: relative;
    height: 50px;
}

.tier-center {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
}

.tier-left {
    display: block;
    position: relative;
    width: 50%;
    text-align: center;
}

.tier-right {
    display: block;
    position: relative;
    width: 50%;
    text-align: center;
}

.talent-img {
    position: relative;
    width: 80px;
    height: 80px;
    display:block;
    margin:auto;
    -moz-box-shadow: 0 0 25px #F08654;
    -webkit-box-shadow: 0 0 25px #F08654;
    box-shadow: 0 0 25px #F08654;
    border-radius: 40px;
    border: 4px solid #FFD384;
    cursor: pointer;
}

.talent-name {
    position: relative;
    color: #FFCC33;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 5px;
}

.talent-points {
    position: relative;
    color: #F9F6EE;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-top: 5px;
}

.disabled {
    filter: grayscale(100%);
}

.offensive {
    color: #F08654;
}

.defensive {
    color: #88D4FF;
}

.logistics {
    color: #65E08B;
}

.ee {
    display: none;
}
.offensive-glow {
    border-color: #F08654;
    -moz-box-shadow: 0 0 25px #F08654;
    -webkit-box-shadow: 0 0 25px #F08654;
    box-shadow: 0 0 25px #F08654;
}

.defensive-glow {
    border-color: #88D4FF;
    -moz-box-shadow: 0 0 25px #88D4FF;
    -webkit-box-shadow: 0 0 25px #88D4FF;
    box-shadow: 0 0 25px #88D4FF;
}

.logistics-glow {
    border-color: #65E08B;
    -moz-box-shadow: 0 0 25px #65E08B;
    -webkit-box-shadow: 0 0 25px #65E08B;
    box-shadow: 0 0 25px #65E08B;
}

.offensive-text-glow {
    color: #F08654;
    -moz-text-shadow: 0 0 25px #F08654;
    -webkit-text-shadow: 0 0 25px #F08654;
    text-shadow: 0 0 25px #F08654;
}

.defensive-text-glow {
    color: #88D4FF;
    -moz-text-shadow: 0 0 25px #88D4FF;
    -webkit-text-shadow: 0 0 25px #88D4FF;
    text-shadow: 0 0 25px #88D4FF;
}

.logistics-text-glow {
    color: #65E08B;
    -moz-text-shadow: 0 0 25px #65E08B;
    -webkit-text-shadow: 0 0 25px #65E08B;
    text-shadow: 0 0 25px #65E08B;
}

.role-title {
    position: relative;
    font-family: 'Marcellus SC', serif;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}

.edge {
    -moz-box-shadow: 0 0 25px #FFD384;
    -webkit-box-shadow: 0 0 25px #FFD384;
    box-shadow: 0 0 25px #FFD384;
}

.containerMap {
    position: relative;
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.map {
    max-width: 100%;
    max-height: 100%;
    z-index: -10;
}

.canvas {
    position: absolute;
    width: 1200px;
    height: 1200px;
    top: 0px;
    left: 0px;
}

.item {
    position: absolute;
    cursor: pointer;
}

.banner {
    position: absolute;
    width: 62px;
}

.caravan {
    width: 22px;
}

.gate {
    width: 36px;
}

.smilitary {
    width: 18px;
}

.mmilitary {
    width: 23px;
}

.lmilitary {
    width: 32px;
}

.fortress {
    width: 25px;
}

.depot {
    width: 23px;
}

.smerchant {
    width: 27px;
}

.mmerchant {
    width: 34px;
}

.lmerchant {
    width: 46px;
}

.myButton {
	background: linear-gradient(#ffd966, #e69138);
    border-radius: 2px;
    color: white;
    font-family: 'Marcellus SC', serif;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
}

.myButton:hover {
	background: linear-gradient(#ffd966,#ba5f00);
}

/* From https://www.w3schools.com/css/css_tooltip.asp */
.tooltipT { 
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltipT .tooltiptextT {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 4px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-top: -70px;
    margin-left: 50px;
}

.tooltipT:hover .tooltiptextT {
    visibility: visible;
}

.tooltipM { 
    position: absolute;
    display: none;
    border-bottom: 1px dotted black;
    top: 800px;
    left: 500px;
}

.tooltipM .tooltiptextM {
    min-width: 200px;
    white-space: nowrap;
    background-color: black;
    color: #fff;
    text-align: left;
    padding:6px 10px 6px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-top: -70px;
    margin-left: -50px;
}
